body {
    text-align: center;
    font-size: 20px;
    background-image: url("https://images.unsplash.com/photo-1574288061782-da2d3f79a72e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-size: cover;
    
}

.info-field {
 width: 350px;
 margin: 0 auto 20px;
 border-radius: 10px;
}


.submition {
    font-size: 16px;
}

.yearly {
    /* margin: 20px 400px; */
    width: 350px;
    padding: 15px 0;
    margin: 20px auto 10px;
    border-radius: 10px;
}

textarea {
    margin-bottom: 20px;
    border-radius: 10px;
}

.container {
    background-color: rgba(51, 212, 255, 0.5);
    border-radius: 20px;
    padding: 20px 0;
    margin: 0 400px;
}

header {
    color: #DFDFDF;
}





